<!DOCTYPE html>
<html lang="en">
<head>
<title>Help Go</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Bluesky template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/Help_Go_Responsive.css'%}"> 
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/bootstrap4/bootstrap.css'%}">
<link href="{% static 'core/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'core/plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/plugins/OwlCarousel2-2.2.1/owl.theme.default.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'core/plugins/OwlCarousel2-2.2.1/animate.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/main_styles.css'%}">

<link rel="stylesheet" type="text/css" href="{% static 'core/styles/responsive.css'%}">
</head>
<body>

<div class="super_container">

	<!-- Navbar -->

<header class="header">
    {% include 'core/navbar.html'%}
</header>	<!-- Home -->

	<div class="container">

    {% block content %}
    {% endblock  %}
		
	</div>



</div>

<script src="{% static 'core/js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'core/styles/bootstrap4/popper.js'%}"></script>
<script src="{% static 'core/styles/bootstrap4/bootstrap.min.js'%}"></script>
<script src="{% static 'core/plugins/OwlCarousel2-2.2.1/owl.carousel.js'%}"></script>
<script src="{% static 'core/plugins/easing/easing.js'%}"></script>
<script src="{% static 'core/plugins/parallax-js-master/parallax.min.js'%}"></script>
<script src="{% static 'core/js/custom.js'%}"></script>
</body>
</html>