{% extends 'core/base.html'%} 

{% load static %} 

{% block content %}

<style>
    .btn-cool{

        background-color: #82f166;
    }
    .btn-cool:hover{

        background-color: #54a0e7;
    }
    .btn-cool-back{

        background-color: #ff7070;
    }
    .btn-cool-back:hover{

        background-color: #e75454;
    }
    input::placeholder {
        color: rgb(154, 173, 157) !important;
    }
</style>

<br> <br> <br> <br> <br> 
{% load crispy_forms_tags %}
<!-- Vista para celular -->
<span class="display-sm">
<form method="POST">
    {% csrf_token %}
    {{form | crispy}}

    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <a href="{% url 'Lista_servicios' %}"  class="btn btn-cool-back rounded-circle" style="width:50px; height:50px; margin-top:11px;" id="Btn-lml">
                <span class="fa fa-angle-left" style="color: #ffffff;margin-right: 4px;margin-top: 9px;"></span>
            </a>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-cool rounded-circle" style="width:70px; height:70px;margin-left: 10px;" id="but_upload">
                <span class="fa fa-check" style="color: #ffffff;"></span>
            </button>
        </div>
        <div class="col-3"></div>
    </div>

</form>

</span>

<!-- Vista para escritorio -->
<span class="display-lg">


</span>

  <a href="{% url 'messenger:list_messages' %}" class="btn btn-message-red-sm" style="border-radius:50%;position: fixed;width: 60px; height: 60px;padding: 13px;bottom: 10px; right: 10px; z-index: 4;">
  <span class="fa fa-comments fa-w-24 fa-2x" style="color: #ffffff;"></span>
  </a>

  <a href="{% url 'messenger:list_messages' %}" class="btn btn-message-red-lg" style="border-radius:50%;position: fixed; width: 80px; height: 80px; padding: 15px; bottom: 15px; right: 15px; z-index: 4;">
  <span class="fa fa-comments  fa-3x" style="color: #ffffff;"></span>
  </a>

{% endblock %}